

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form ng-submit="SendMessage()">
        <div class="row">
            <div class="row">
                <h3>Enter a message</h3>
            </div>
            <div class="row">
                <h4>Please enter the new ETA</h4>
            </div>
            <div class="row">
                <textarea rows="4" cols="50"  ng-model="Description" placeholder="Please enter text" id="Description" ></textarea>
            </div>
            <div class="row">
                <h4>Reason for Delay</h4>
            </div>
            
            <div class="row">
                <br />
                <button class="btn btn-primary btn-block" type="submit">Enter</button>
            </div>

        </div>
    </form>
</div>
